<!-- what we have done here is we created a render path in the application as shared foot then the content below is rendered below
-->
<!-- footer
-->  
<div class="footer text-center">
  <p>© JYAASA <%= Date.today.year %> All Rights Reserved</p>
</div>

